:root {
  --blue-color-100: #2196f3;
  --blue-color-300: #1e88e5;
  --white-color: #fff;
  --black-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.container {
  max-width: 1440px;
  padding: 0 62px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
}
